# Node build artifacts
node_modules
npm-debug.log

# Local development
*.env
*.dev
.DS_Store

# Docker
Dockerfile
docker-compose.yml

# credentials
cutee2020-042105f31cfe.json
privatekey.txt
serviceemail.txt
.env
